@import '~bootstrap/scss/bootstrap';
@import '/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

.logo_laravel {
    img {
        width: 30%;
    }
}

.image-container {
    img {
        width: 300px;
    }
}

#sidebar {
    background-color: whitesmoke;
    width: 20%;
    height: 100vh;
}

main {
    height: 100vh;
}